node_modules/

dist/
build/
out/

.env
.env.local
.env.*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db

coverage/
.nyc_output/

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
/src/generated/prisma


.agents
.claude
.windsurf
/src/generated/prisma
